@page "{id:guid}"
@model RaymiMusic.MVC.Pages.Generos.DeleteModel

<h1>Eliminar Género</h1>

<h3>¿Seguro que deseas eliminar este género?</h3>

<dl class="row">
	<dt class="col-sm-2">Nombre</dt>
	<dd class="col-sm-10">@Model.Genero.Nombre</dd>
</dl>

<form method="post">
	<button type="submit" class="btn btn-danger">Eliminar</button>
	<a asp-page="Index" class="btn btn-secondary">Cancelar</a>
</form>
